//Container

.container {
    max-width: $max-width;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

// Text Styles

.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-primary {
    color: $primary-color;
}

.round-img {
    border-radius: 50%;
}

.line {
    height: 1px;
    background: #cccccc ;
    margin: 1.5rem 0;
}

// Backgrounds

.bg {
    &-primary {
        @include set-background($primary-color);
    }
    &-light {
        @include set-background($light-color);
        border: #cccccc 1px solid;

    }
    &-dark {
        @include set-background($dark-color);
    }
    &-success {
        @include set-background($success-color);
    }
    &-danger {
        @include set-background($danger-color);
    }
    &-white {
        @include set-background(#ffffff);
        border: #cccccc 1px solid;
    }
}

// Dark Overlay

.btn {
    display: inline-block;
    background: $light-color;
    color: #333;
    padding: 0.4rem 1.3rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
    outline: none;
    transition: all 0.2s ease-in;

    &.btn-primary {
        @include set-background($primary-color);
        &:hover {
            background: lighten($color: $primary-color, $amount: 5%);
        }
    }
    &.btn-dark {
        @include set-background($dark-color);
        &:hover {
            background: lighten($color: $dark-color, $amount: 5%);
        }
    }
    &.btn-success {
        @include set-background($success-color);
        &:hover {
            background: lighten($color: $success-color, $amount: 5%);
        }
    }
    &.btn-danger {
        @include set-background($danger-color);
        &:hover {
            background: lighten($color: $danger-color, $amount: 5%);
        }
    }
    &:hover {
        background: lighten($color: $dark-color, $amount: 20%);
        color: #ffffff;
    }
    
}

// Alerts

.alert {
    padding: 0.8rem;
    margin: 1.1rem;
    opacity: 0.9;
    background-color: $light-color;
    color: #333333;

    &.alert-primary{
        @include set-background($primary-color)
    }
    &.alert-dark{
        @include set-background($dark-color)
    }
    &.alert-danger{
        @include set-background($danger-color)
    }
    &.alert-success{
        @include set-background($success-color)
    }
}

// Badges

.badge {
    font-size: 0.8rem;
    padding: 0.1rem;
    text-align: center;
    margin: 0.3rem;
    background: $light-color;
    color: #333;

    &.badge-primary {
        @include set-background($primary-color);
    }

    &.badge-dark {
        @include set-background($dark-color);
    }

    &.badge-success {
        @include set-background($success-color);
    }

    &.badge-danger {
        @include set-background($danger-color);
    }
}



.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}